<div ng-app = hrApp>

    <!--TODO #7-->
    <div ng-controller="UserController">
        <p>firstName: <input type="text" ng-model = "user.firstName"> </p>

        <p>lastName: <input type="text" ng-model = "user.lastName"></p>

        <p>Id(CNP): <input type="number" ng-model = "user.cnp"></p>

        <p>age: <input type="number" ng-model = "user.age"></p>

        <p>
            <button ng-click="back()"> Back </button>
        </p>

        <p>
            <button ng-click="reset()"> Reset </button>
        </p>

        <p>
            <button ng-click="save()"> Save </button>
        </p>

        <p>
            <button ng-click="showhideUserList()"> Show/Hide User List </button>
        </p>

        <div ng-show="toShow" ng-repeat = "user in users">
            {{$index + 1}}. First Name: {{user.firstName}} | Last Name: {{user.lastName}} | CNP: {{user.cnp}} | Age: {{user.age}}
        </div>

    </div>
</div>